server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: security
    password: security

  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 96273935630-ctc8redf2nn5df8cm6du8i083072e7ee.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile

          facebook:
            client-id: 1197936084027011
            client-secret: b993c2cd2720443625d469e351e769fe
            scope:
              - email
              - public_profile

          naver:
            client-id: bHuAondCuyCWlO2m5a9F
            client-secret: OT1s5qRs_v
            scope:
              - name
              - email
            clinet-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response # 회원정보를 json의 response 키값으로 리턴해줌.

